/*STRETCH FW*/
@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";
@font-face {font-family: 'Hackathon';src: url(assets/hackathon.ttf) format('truetype');}
body{margin:50px;background: #ddd;}
.container{display: grid;grid-template-columns: 1fr 1fr;align-items: center;
    justify-content: center;}
.bg-white{background: #fff;}
.container-f{display: grid;grid-template-columns: 1fr;}
.bg-hack{background-image: url(img/bgjoin.jpg);background-attachment: fixed; background-size: cover;background-repeat: no-repeat;background-position: bottom;}
.ahack{width: 100%;}
.c-a{/*width: 100%;*/}
.c-b{width: 100%;;}
.padding{padding: 20px;}
.spoiler {display: list-item;background-color: transparent;border: none;outline: none;color: #555;font-family: Hackathon;font-weight: 100;font-size: 24px;font-family: Hackathon;}
.triangle{background-image: url(img/triangle.png);background-size: cover;}
.spoiler:hover {color: #333 !important;}
.ans{font-family: Hackathon;width: 90%;color:#333;}
input {
    margin-top: 10px;
    margin-bottom: 40px;
    color: white;
    font-family: hackathon;
    background-color: transparent;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 5px solid white;
}
.imgspacing{margin-right: 10px;}
.margin-a{margin-top: 10px;}
.center{text-align: center;}
.container-f>h1{font-family: hackathon;color:#fff;text-align: center;font-weight: 100;}
ul{display: inline;padding-left: 0;}
ul>li{display: inline;list-style: none;padding-right: 25px;}
ul>li>a{text-decoration: none;display: inline;}
li>h1{font-family: hackathon;color:#333;display: inline;font-size: 42px;}
li>a>h2{font-family: hackathon;color:#555;display: inline;}
h2:hover{color: #333!important}