@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
body{margin: 0;    overflow-x: hidden;}
.row-0 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    margin: 5px
}

.altenhack{
    
}

.logo{
    width: auto;
    height: auto;
    margin: 20px;
}

.data{
    margin-top: 180px;
    margin-left: 20px;
    width: 80%;
}

.runner{
    background-image: url("img/corredor.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.center-menu{
    height: 10vh;
}

.row_tri{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

ul.menu{
    width: 350px;
    margin: 0 auto;
    padding-top: 10px
}
ul.menu>li{
    display: inline; list-style: none;
    width: 100px;
    
}
ul.menu>li>a{
    font-family: lato;
    color:#fff;
    text-decoration: none;display: inline;
    background-color: #1C355E;padding: 5px 10px 10px;
    border-radius: 15px 15px 15px 15px
}
ul.menu>li>a:hover{
    background-color: #E30613;
}
.faq{
    list-style: none;
    width: 350px;
    margin: 0 auto;
}
.duo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*change on responsive*/
}
.tri{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*change on responsive*/
}
.bluebg{background-color:#1C355E;}
.bluebg>h1{color:#fff;font-family:lato;font-weight:100;margin:0 0 0 5px;margin-left:50px;}
.greybg{background-color:rgba(153,153,153,1) }
.greybg>h1{color:#1C355E;font-family:lato;font-weight:100;margin:0 0 0 5px;margin-left:50px;}
.blackbg{background-image:url(img/bgins.gif);}
.blackbg>h1{color:#333;font-family:lato;font-weight:100;margin:0 0 0 5px;margin-left:50px}
.whitebg{background-color: #fff;}
.whitebg>h1{color: rgba(153,153,153,1);font-family:lato;font-weight:100;margin:0 0 0 5px;margin-left:50px;}
.spoiler {display: list-item;border: none;outline: none;color: #008BD2;font-weight: 100;font-size: 22px;font-family: raleway;cursor: pointer;}
.ans{font-family: lato;margin-left: 25px}
.ansshow{font-family: lato;margin-left: 25px;color:#ccc;margin-left:15%;}
.centerin{text-align: center;}
.row{padding: 0 25px 25px 0;}
.red{background-color: #E30613!important}
.active{color:#1C355E}
.two_col{display: grid;grid-template-columns: 20% 80%;}
.dtitle{font-family: raleway;font-size: 28px;}

.dtitle_{text-align: center; font-family: raleway;font-size: 28px;}


input{
    margin: 0 auto;
    display: list-item;
    background: rgba(0,0,0,0.1);
    padding: 5px;
    outline: none;
    border:none;
    border-bottom: 2px solid #1C355E;
    color:#333;
    font-family: lato;
    font-size: 24px;
}

@media screen and (max-width: 1120px) {/*botones siguiente y prev fondo en los campos*/
    .two_col{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {/*botones siguiente y prev fondo en los campos*/
    .runner{background-size: cover;}
    .two_col{
        grid-template-columns: 1fr;
    }
    .row_tri{
        grid-template-columns: 1fr;
    }
}
.container{display: grid;grid-template-columns: 1fr 1fr;align-items: center;
    justify-content: center;}
.container-f{display: grid;grid-template-columns: 1fr;}
.c-b{width: 100; font-family: lato;}
a{text-decoration: none;}
.tab {
  display: none;
}

@media screen and (max-width: 500px) {
    .faq{
        margin-left:0px!important;
        width: 300px!important
    }
    .bluebg>h1{
        margin:0 auto;
        text-align: center;
        font-size: 48px!important;
    }
    .greybg>h1{
            margin:0 auto;
        text-align: center;
        font-size: 48px!important;
    }
    .whitebg>h1{
            margin:0 auto;
        text-align: center;
        font-size: 48px!important;
    }
    .blackbg>h1{
            margin:0 auto;
        text-align: center;
        font-size: 48px!important;
    }
}





#nextBtn{
    background: #1C355E;
    padding: 5px;
    border-radius: 15px 15px 15px 15px;
    border: none;
    outline: none;
    color:#fff;    font-family: lato;
    font-size:24px;
}
#nextBtn:hover{
    background-color: #E30613
}

.coloroverride{color:#fff!important}

.envio{display: none;background: #1C355E;padding: 5px;
    border-radius: 15px 15px 15px 15px;
    border: none;
    outline: none;
    color:#fff;
    font-family: lato;
    font-size:24px;}
#optin{
    display: none;
}
.envio:hover{background:#E30613 }
#finish{
    display: none;
}

#modal{
   position: fixed; /* Sit on top of the page content */
    display: none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#prevBtn{
    background: #1C355E;
    padding: 5px;
    border-radius: 15px 15px 15px 15px;
    border: none;
    outline: none;
    color:#fff;
    font-family: lato;
    font-size:24px;
}
#prevBtn:hover{
   background-color: #E30613;
}